Index page ...
%a{:href => '/ted'} Visit Ted
%br
- for product in @products
	#id= product.id
	#name= product.name
	#alias= product.alias

	- product_applications = @applications.find_all { |application| application.product_id == product.id }
	- for application in product_applications
		#application_id= application.id
		#application_name= application.name		
		
	%br
