%br
#_id= product._id
#name= product.name
#alias= product.alias

%h2 Applications
- for application in product.applications
	#application__id= application._id
	#application_name= application.name
	%br

%br
